.Rproj.user
.Rhistory
.RData
.Ruserdata


# renv
renv/library/
renv/python/

# Ignore everything inside these directories
data/raw/*
data/output/long/*
data/output/wide/*

# keep the directories themselves
!data/raw/
!data/output/

# And keep a README
!data/raw/README.md
!data/output/long/README.md
!data/output/wide/README.md

# Logs
shinylogs/

# OS junk
.DS_Store
Thumbs.db